[package]
name = "parui"
description = "Simple TUI frontend for paru or yay."
version = "0.1.23"
edition = "2021"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/Vonr/parui"
repository = "https://github.com/Vonr/parui"
keywords = ["tui", "terminal", "frontend", "paru"]
include = ["src/main.rs", "README.md"]

[profile.release]
lto = true
codegen-units = 1
debug = 0
opt-level = "s"
strip = "symbols"

[dependencies]
crossterm = "0.23.2"
tui = { version = "0.18", features = ["crossterm"] }
naive_opt = "0.1.17"
tokio = { version = "1.18.2", features = ["full"] }
